
.AdminBoard{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.droppable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 2em;
}