.Column{
    background-color: #f4f5f7;
    border-radius: 2.5px;
    width: 20em;
    height: 50em;

    overflow-y: auto;
    /* -ms-overflow-style: none; */
    scrollbar-width: none;
    border: 1px solid gray;
    padding-bottom: 30em;
     /* max-height: 50vh; */

}
.Column__Title{
    padding: 8px;
    text-align: center;
}
.Column__List{

    padding-top: 2em;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 20%;
}